In [42]:
import pandas as pd

In [64]:

df_verbs_choices = pd.read_pickle('VERB_CHOICES.pkl')
df_verbs_choices['VERB'] = df_verbs_choices['VERB'].apply(lambda x: x.lower())
df_verbs_choices['CHOICES'] = df_verbs_choices['CHOICES'].apply(lambda x: x[:10])
df_verbs_choices['CHOICES'] = df_verbs_choices['CHOICES'].apply(lambda x: [i for i in x if ',' not in i])
df_verbs_choices.to_pickle('VERB_CHOICES.pkl')

df_verbs_choices[df_verbs_choices['VERB'].apply(lambda x: not ',' in x)]
df_verbs_choices = df_verbs_choices.reset_index(drop=True)
#df_verbs_choices.to_pickle('VERB_CHOICES.pkl', protocol=4)

In [66]:
dict_verbs_choices = dict(df_verbs_choices.values.tolist())

In [80]:
def give_choices(x):
    choices =  dict_verbs_choices[x.lower()][:4]
    if x.islower():
        return [i.lower() for i in choices] 
    elif x.istitle():
        return [i.title() for i in choices]
    else:
        return [i.lower() for i in choices]

In [81]:
df = pd.read_pickle('QUIZZIZ_18K_QUIZ_BANK_MULTIPLE_CHOICE.pkl')

In [82]:
df = df[df['Option 5'].apply(lambda x: ',' not in x)]

In [83]:
df = df.reset_index(drop=True)

In [84]:
df['CHOICES'] = df['Option 5'].apply(lambda x: give_choices(x))

In [86]:
df['Option 1'] = df.apply(lambda x: x['CHOICES'][0], axis=1)
df['Option 2'] = df.apply(lambda x: x['CHOICES'][1], axis=1)
df['Option 3'] = df.apply(lambda x: x['CHOICES'][2], axis=1)
df['Option 4'] = df.apply(lambda x: x['CHOICES'][3], axis=1)

In [88]:
#df.to_pickle('QUIZZIZ_18K_QUIZ_BANK_MULTIPLE_CHOICE.pkl', protocol=4)

In [89]:
time_per_q = int(input('Enter duration per question'))

Enter duration per question 20

In [90]:
quiz_length = int(input('Enter number of questions for this quiz; must be a whole number; like 20!'))

Enter number of questions for this quiz; must be a whole number; like 20! 20

In [91]:
file_xlsx_name = input('Enter File Name')

Enter File Name UN_TT_QUIZZIZ

In [93]:
df['Time in seconds'] = time_per_q

In [96]:
quiz_col = [i for i in list(df.columns) if i != 'CHOICES']

In [98]:
df = df[quiz_col].reset_index(drop=True)

In [100]:
#df.to_pickle('QUIZZIZ_18K_QUIZ_BANK_MULTIPLE_CHOICE.pkl', protocol=4)

In [101]:
df

,Question Text,Question Type,Option 1,Option 2,Option 3,Option 4,Option 5,Correct Answer,Time in seconds,Image Link
0,An additional 30 universities have _ _ _ _ _ _...,Multiple Choice,stressed,addressed,explored,exerted,expressed,5,20,
1,Global trafficking networks are likewise _ _ _...,Multiple Choice,paving,saving,sharing,shaping,having,5,20,
2,Ecommerce has flourished in the region during ...,Multiple Choice,protecting,pointing,producing,removing,promoting,5,20,
3,Failure to _ _ _ _ with that issue through the...,Multiple Choice,steal,reap,sell,hear,deal,5,20,
4,51. Increasing psychological distress among th...,Multiple Choice,throwing,knowing,drawing,going,growing,5,20,
...,...,...,...,...,...,...,...,...,...,...
18574,"(a) Unlawful killings, rape, extortions, _ _ _...",Multiple Choice,formed,enforced,fired,faced,forced,5,20,
18575,"In the development of the new tribunals, the O...",Multiple Choice,returned,remained,defined,shared,learned,5,20,
18576,"The General Assembly, the principal deliberati...",Multiple Choice,fund,fired,fixed,defined,find,5,20,
18577,"Upon receiving such notice, the President of t...",Multiple Choice,takes,moves,saves,faces,makes,5,20,
18578,We understand that proposing amendments to the...,Multiple Choice,gave,save,pave,share,have,5,20,

In [102]:
df

,Question Text,Question Type,Option 1,Option 2,Option 3,Option 4,Option 5,Correct Answer,Time in seconds,Image Link
0,An additional 30 universities have _ _ _ _ _ _...,Multiple Choice,stressed,addressed,explored,exerted,expressed,5,20,
1,Global trafficking networks are likewise _ _ _...,Multiple Choice,paving,saving,sharing,shaping,having,5,20,
2,Ecommerce has flourished in the region during ...,Multiple Choice,protecting,pointing,producing,removing,promoting,5,20,
3,Failure to _ _ _ _ with that issue through the...,Multiple Choice,steal,reap,sell,hear,deal,5,20,
4,51. Increasing psychological distress among th...,Multiple Choice,throwing,knowing,drawing,going,growing,5,20,
...,...,...,...,...,...,...,...,...,...,...
18574,"(a) Unlawful killings, rape, extortions, _ _ _...",Multiple Choice,formed,enforced,fired,faced,forced,5,20,
18575,"In the development of the new tribunals, the O...",Multiple Choice,returned,remained,defined,shared,learned,5,20,
18576,"The General Assembly, the principal deliberati...",Multiple Choice,fund,fired,fixed,defined,find,5,20,
18577,"Upon receiving such notice, the President of t...",Multiple Choice,takes,moves,saves,faces,makes,5,20,
18578,We understand that proposing amendments to the...,Multiple Choice,gave,save,pave,share,have,5,20,

In [103]:
import os
os.mkdir('QUIZZIZ_UN_TT_BATCH_01')

In [104]:
batch_name = 'QUIZZIZ_UN_TT_BATCH_01'

In [105]:
exp_quiz_quran = [f"df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('{batch_name}/{file_xlsx_name}_{str(i).zfill(2)}.xlsx', encoding='utf-8', index=False)" for i in range(1,20)]

In [106]:
for i in exp_quiz_quran:
    print(i)

df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_01.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_02.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_03.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_04.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_05.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_06.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_07.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_08.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_09.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_10.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_11.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_12.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_13.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_14.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_15.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_16.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_17.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_18.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_19.xlsx', encoding='utf-8', index=False)

In [107]:
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_01.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_02.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_03.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_04.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_05.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_06.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_07.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_08.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_09.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_10.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_11.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_12.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_13.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_14.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_15.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_16.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_17.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_18.xlsx', encoding='utf-8', index=False)
df.sample(100).drop_duplicates(['Option 1']).head(20).to_excel('QUIZZIZ_UN_TT_BATCH_01/UN_TT_QUIZZIZ_19.xlsx', encoding='utf-8', index=False)